{% extends 'home/layout.html' %}

{% block title %}Grade It{% endblock %}

{% block content %}
<form method="POST" >
    {% csrf_token %}
<h2> Grade it for {{user.userName}} </h2>
<p>Sum of the grades should be less than {{pvalue}}</p>
<input type="hidden" name="uid" value="{{user.id}}">


<table class="table table-bordered">
{% for r in Restaurant %}
<tr><td>{{r.name}}</td>
<td> <input type="number" name="grade[]" min="0" max="{{pvaluehalf}}" value="0"> </td>
<input type="hidden" name="rid[]" value="{{r.id}}" >
</tr>
{% endfor %}
</table>

 <button type="submit" name="user_id" formaction="/saveGrades/" value= "{{user.id}}" class="btn btn-yesil btn-lg">
  Submit!
</button>

</form>
{% endblock %}