{% extends 'home/layout.html' %} {% block title %}Home{% endblock %}
{%block content %}

<!-- home ekranina hava durumu eklentisi ekliyor -->
<a
	href="https://www.accuweather.com/en/tr/istanbul/318251/weather-forecast/318251"
	class="aw-widget-legal"> </a>
<div id="awcc1489525705053" class="aw-widget-current"
	data-locationkey="318251" data-unit="c" data-language="en-us"
	data-useip="false" data-uid="awcc1489525705053"></div>
<script type="text/javascript"
	src="https://oap.accuweather.com/launch.js"></script>


<br>
<br>

<div class="jumbotron">

	<h1>Hi ...!</h1>

	{% if flag %} <br>
	<h4>
		<b>Restaurant of Today</b>
	</h4>

	{% for r in rest %}
	<h2>
		<b>" {{r.rest.name}} "</b>
	</h2>
	{% endfor %} {% endif %}
</div>

<br>
<br>

<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>
					<i class="glyphicon glyphicon-glass"> </i> <b>Add New Resaurant
						!</b>
				</h4>
			</div>
			<div class="panel-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Itaque, optio corporis quae nulla aspernatur in alias at numquam?</p>
				<br> <a href="/restaurants" class="btn btn-default">Add here!</a>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>
					<i class="glyphicon glyphicon-heart"></i> <b>Grade Them!</b>
				</h4>
			</div>
			<div class="panel-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Itaque, optio corporis quae nulla aspernatur in alias at numquam?</p>
				<br> <a href="/grading" class="btn btn-default">Grade here !</a>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>
					<i class="glyphicon glyphicon-check"></i> <b>Go calculation !</b>
				</h4>
			</div>
			<div class="panel-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Itaque, optio corporis quae nulla aspernatur in alias at numquam?</p>
				<br> <a href="/statistics" class="btn btn-default">Statistics</a>
			</div>
		</div>
	</div>


</div>
<br>
<br>


{% endblock %}


