{% extends 'home/layout.html' %}
{% block title %}Home{% endblock %}

{% block content %}

<!-- home ekranina hava durumu eklentisi ekliyor -->
<a href="https://www.accuweather.com/en/tr/istanbul/318251/weather-forecast/318251" class="aw-widget-legal">

</a><div id="awcc1489525705053" class="aw-widget-current"  data-locationkey="318251" data-unit="c" data-language="en-us" data-useip="false" data-uid="awcc1489525705053"></div>
<script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>

{% if flag %}
<br>
<br>
<br>
<br>
<h4>Restaurant of Today</h4>
{% for r in rest %}
<p> {{r.rest.name}}</p>
{% endfor %}

{% endif %}
{% endblock %}