dj-database-url==0.4.2
Django==1.10.6
django-background-tasks==1.0.15
django-compat==1.0.13
freeze==1.0.10
gunicorn==19.7.1
python-http-client==2.2.1
requests==2.13.0
sendgrid==3.6.3
six==1.10.0
whitenoise==3.3.0
