{% extends "home/layout.html" %}
{% block title%}Restaurants{%endblock%}

{% block content %}

<div class="container">
	<div class="row">

		<section class="content">
			<h1>Restaurants</h1>
			<div class="col-md-8 col-md-offset-2">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="pull-right">
							<div class="btn-group">
								<button type="button" class="btn btn-success btn-filter">Add
									Restaurant</button>
								<button type="button" class="btn btn-warning btn-filter">Selam</button>

							</div>
						</div>
						<div class="table-container">
							<table class="table table-filter">
								<tbody>
									{% for obj in rests %}
									<tr>
										<td>
											<div class="media">
												<a href="#" class="pull-left"> <img
													src="/static/images/yemekicon.ico" class="media-photo">
												</a>
												<div class="media-body">
													<h4 class="title pull-left">{{obj.name}}</h4>


												</div>

											</div>

										</td>
										<td>
											<div class="pull-right action-buttons">
												<a href="http://www.jquery2dotnet.com"><span
													class="glyphicon glyphicon-pencil"></span></a> <a
													href="http://www.jquery2dotnet.com" class="trash"><span
													class="glyphicon glyphicon-trash"></span></a> <a
													href="http://www.jquery2dotnet.com" class="flag"><span
													class="glyphicon glyphicon-ok-sign"></span></a>
											</div>

										</td>
									</tr>

									{% endfor %}

								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="content-footer"></div>
			</div>
		</section>

	</div>
</div>

{% endblock %}





