{% extends "home/layout.html" %} {% block title%}Restaurants{%endblock%}

{% block content %}


<div class="md-modal md-effect-16" id="modal-16">
	<div class="md-content">
		<h3>Add New Restaurant</h3>
		<div>

			{% if error_message %}
			<p>
				<strong>{{ error_message }}</strong>
			</p>
			{% endif %}

			<form class="form-horizontal" action="{% url 'restaurant:addRest' %}"
				method="post">
				{% csrf_token %}
				<div class="restNameInput">
					<label class="pull-left">Restaurant Name: </label> <input
						type="text" class="form-control" name="name"
						placeholder="enter restaurant name here"
						aria-describedby="basic-addon1" value="{{rest_name}}" required>

				</div>
				<hr></hr>
				<div class="weatherInput" style='float: left;'>
					<label class="text-left">Sensable for weather ? &nbsp </label> <input
						type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No"
						name="weatherSensetion" data-onstyle="success"
						data-offstyle="warning" data-size="mini">

				</div>
				<hr></hr>
				<hr></hr>
				<div class="transportInput" style='float: left;'>
					<label class="text-left">Does it need ride ? &nbsp </label> <input
						type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No"
						name="transportation" data-onstyle="success"
						data-offstyle="warning" data-size="mini">
				</div>
				<hr></hr>
				<hr></hr>
				<div class="btn-group">

					<button class="btn btn-success" type="submit" value="OK">Add
						Restaurant</button>
					<button class="btn btn-warning md-close" type="button">Close
						me!</button>
				</div>

			</form>



		</div>
	</div>
</div>

<div class="container">
	<div class="row">

		<section class="content">
			<h1>Restaurants</h1>
			<div class="col-md-8 col-md-offset-2">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="pull-right">
							<div class="btn-group">
								<button class="btn btn-success md-trigger md-setperspective"
									data-modal="modal-16">Add Restaurant</button>
								<button type="button" class="btn btn-warning">Selam</button>

							</div>
						</div>
						<div class="table-container">
							<table class="table table-filter">
								<tbody>
									{% for obj in rests %}
									<tr>
										<td>
											<div class="media">
												<a href="#" class="pull-left"> <img
													src="/static/images/hamburger-icon.png" class="media-photo">
												</a>
												<div class="media-body">
													<h4 class="title pull-left">{{obj.name}}</h4>
												</div>
											</div>
										</td>
										<td>
											<div class="pull-right action-buttons">
												<a href=""><span class="glyphicon glyphicon-pencil"></span></a>
												<a href="/restaurants/deleteRestaurant/{{obj.id}}"
													class="trash"><span class="glyphicon glyphicon-trash"></span></a>
												<a href="" class="flag"><span
													class="glyphicon glyphicon-ok-sign"></span></a>
											</div>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>
		</section>

	</div>
</div>

{% endblock %}





